// Fonts
$emberFont: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif;

// Colors
$bgColor: #00050d;
$textColor: #fff;
$secondaryTextColor: #aaaaaa;
$bgBtnSeasonColor: #33373d;
$secondarySeasonBtnColor: #0f171e;
$infosTextColor: #999999;
$watchHoverBgColor: #f1f1f1;
$btnHoverTextColor: #4d4d4d;
$listBtnColor: hsla(0, 0%, 100%, 0.2);
$titleColor: #f2f4f6;
$footerLinksColor: #79b8f3;