@use 'variables';
@use 'hero';
@use 'header';
@use 'episodes';
@use 'explore';

@font-face {
    font-family: Amazon Ember;
    src: url(../../assets/fonts/Amazon\ Ember.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Amazon Ember;
    src: url(../../assets/fonts/Amazon\ Ember\ Bold.ttf);
    font-weight: 700;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: variables.$bgColor;
    font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif;
}

.title {
    font-size: 32px;
    font-weight: bold;
}

.title-small {
    font-size: 21px;
    font-weight: bold;
}

.text--big {
    font-size: 20px;
}

.text--medium {
    font-size: 18px;
}

.text {
    font-size: 16px;
}

.text--small {
    font-size: 15px;
}


.content {
    &__tab-selector {
        max-width: 1600px;
        padding: 0 50px;
        margin: 0 auto;
        text-align: center;
    
        &__button {
            background-color: transparent;
            border: none;
            padding: 12px 16px;
            cursor: pointer;
            font-family: variables.$emberFont;
            color: variables.$secondaryTextColor;
            letter-spacing: .02em;
            font-weight: 500;
            transition: all .2s ease-in-out;
    
            &:hover {
                color: #fff;
            }
    
            &--is-active {
                color: #fff;
                border-bottom: 3px solid #fff;
            }
        }
    }
}